.App {
  background-color:#F4F6FC;
  color: #2E384D;
}
.buttons{
  display: flex;
  justify-content: space-around;
  padding: 0 7rem;
  margin-bottom: 20px;
  line-height: 10px;
}
.buttons>*{
  width:11rem;
  padding-left: 1rem;
}
h2{
  font-size:40px;
  font-weight: 400;
}
h1{
  font-weight: 300;
}
.chart_container{
  background-color: white;
  margin-bottom: 50px;
  box-shadow: 0 0 10px 1px #c9c9c9;

}
.chart{
  position: relative;
  bottom: -30px;
}

.filterContainer{
  display: flex;
  justify-content: space-between;
}
.filter_area{
 display: flex;
 justify-content: flex-end;
 align-items: center;
}
.filter_input{
  line-height: 2rem;
  border: 1px #2E5BFF solid;
  border-radius: 3px;
}
.filter_button{
  text-align: left;
  font-size: large;
  margin-left: 8px;
  line-height: 2rem;
  width: 10rem;
  border: 1px #2E5BFF solid;
  background-color: #2E5BFF;
  color: white;
  border-radius: 3px;
}
.filter_button:hover{
  background-color: #5277fd;
  border: none;
}

.price_button{
  background-color: #2E5BFF;
  color: white;

}
.percent_button{
  background-color: #F7C137;
  color: white;
}

.time_button{
  background-color: #8C54FF;
  color: white;
}

.tablehead{
  color: #B0BAC9;
  display: flex;
  padding-left: 20px;

}
.tablehead p{
  width: 10rem;
  padding-left: 10px;

}

#id_data{
 color: #707580;
}

.data_rows{
  display: flex;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 10px;
}

.data_rows p{
  width: 10rem;
  padding-left: 10px;
}

.data_body{
  margin-bottom: 50px;
}
