.App {
  background-color: #f4f6fc;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 1590px;
}
.dashboard {
  width: 141px;
  height: 33px;
  font-size: 28px;
  font-weight: 300;
  color: #2e384d;
}
.buttons {
  width: 849px;
  height: 117px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.buttons > * {
  width: 264px;
  height: 117px;
}

.price_button_container {
  background-color: #2e5bff;
  color: white;
}
.percent_button_container {
  background-color: #f7c137;
  color: white;
}

.time_button_container {
  background-color: #8c54ff;
  color: white;
}
.price_button {
  width: 216px;
  height: 77px;
  margin: 20px auto;
}
.percent_button {
  width: 216px;
  height: 77px;
  margin: 20px auto;
}
.time_button {
  width: 216px;
  height: 77px;
  margin: 20px auto;
}
.buttons_value {
  display: inline;
  line-height: 57px;
  font-size: 48px;
  font-weight: 300;
}
.buttons_name {
  display: inline;
  line-height: 18px;
  font-size: 15px;
  font-weight: 400;
}
.chart_container {
  width: 1140px;
  height: 392.1px;
  background-color: white;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  border: 1px #eef2ff solid;
  /* box-shadow: 0 0 10px 1px #c9c9c9; */
}
#mychart {
  position: relative;
  bottom: -32px;
  color: #b0bac9;
  background-image:  'linear-gradient(red, yellow)';

}

.filterContainer {
  display: flex;
  justify-content: space-between;
}
.info_head {
  font-size: 28px;
  font-weight: 300;
  color: #2e384d;
  width: 232px;
}
.filter_area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}
.filter_input {
  width: 200px;
  height: 40px;
  border: 1px #2e5bff solid;
  border-radius: 3px;
  padding: 0;
}
.filter_button {
  width: 200px;
  height: 40px;
  text-align: left;
  margin-left: 13.5px;
  border: 1px #2e5bff solid;
  background-color: #2e5bff;
  border-radius: 3px;
  padding: 0;
  box-sizing: content-box;
}
.filter_button p {
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin: 0 24px;
}
.filter_button:hover {
  background-color: #5277fd;
}

.table {
  width: 1136px;
  padding-left: 40px;
}

.tablehead {
  width: 1136px;
  box-sizing: border-box;
  color: #bfc5d2;
  font-size: 12px;
  font-weight: 500;
  height: 25px;
}
.tablehead td{
  vertical-align: top;
}

.id_data {
  color: #8798ad;
}

.data_rows {
  font-size: 15px;
  font-weight: 400;
  border: 1px #eef2ff solid;
  background-color: #fff;
  color: #2e384d;
  height: 75px;
  margin-bottom: 10px;
}
.data_rows:last-of-type{
  border-bottom: none;
}

#mytable{
  border-collapse: separate;
  border-spacing:0 10px;
  width: 100%;
  text-indent: 40px;
}
